<div class="sidenav">
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div class="main">
  <div class="topnav">
    <a id="one" class="active" href="#home">Manage snapshots</a>
    <a href="#news">Create snapshots</a>
    <a href="#contact">Contact</a>
    <a class="two" href="#about">About</a>
  </div>

  <div class="w3-container">
    <h2>Just a list</h2>
    <p>Here are the details</p>

    <table class="w3-table-all w3-tiny">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jill</td>
          <td>Smith</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
        </tr>
        <tr>
          <td>Adam</td>
          <td>Johnson</td>
          <td>67</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>
  <button class="start-tour" {{action "startTour"}}>Start tour</button>
</div>